.reaction-fly[data-v-b738660f]{animation:reaction-fly-b738660f .9s ease-out forwards}@keyframes reaction-fly-b738660f{0%{opacity:0;transform:translateY(0) scale(.9)}20%{opacity:1}to{opacity:0;transform:translateY(-64px) scale(1.2)}}
