.reaction-fly[data-v-1262c26e]{animation:reaction-fly-1262c26e 1.2s ease-out forwards}@keyframes reaction-fly-1262c26e{0%{opacity:0;transform:translateY(0) scale(.9)}15%{opacity:1}to{opacity:0;transform:translateY(-180px) scale(1.25)}}
