.reaction-fly[data-v-40b70fa4]{animation:reaction-fly-40b70fa4 1.2s ease-out forwards}@keyframes reaction-fly-40b70fa4{0%{opacity:0;transform:translateY(0) scale(.9)}15%{opacity:1}to{opacity:0;transform:translateY(-180px) scale(1.25)}}
