.reaction-fly[data-v-1321074d]{animation:reaction-fly-1321074d 1.2s ease-out forwards}@keyframes reaction-fly-1321074d{0%{opacity:0;transform:translateY(0) scale(.88)}15%{opacity:1}to{opacity:0;transform:translateY(-170px) scale(1.2)}}
